<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Calendar</title>

    <%= stylesheet_link_tag "/plugins/fullcalendar/fullcalendar.css" %>  
    <%= stylesheet_link_tag "/plugins/fullcalendar/theme/theme.css" %>
    <%= javascript_include_tag "/plugins/fullcalendar/jquery/jquery-1.5.2.min.js" %>
    <%= javascript_include_tag "/plugins/fullcalendar/fullcalendar.js" %>

    <script type='text/javascript'>

      $(document).ready(function() {
   
        $('#calendar').fullCalendar({
          theme: true,
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          editable: true,
          eventSources: [
            "http://localhost:3000/calendars/1"
          ]
        });
      });
  </script>
  
  <style type='text/css'>

  body {
    margin-top: 40px;
    text-align: center;
    font-size: 13px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    }

  #calendar {
    width: 900px;
    margin: 0 auto;
    }

</style>
  
  </head>
  <body>
    <div id='calendar'></div>          
  </body>
</html>
